presubmits:

  jetstack/testing:

  - name: pull-testing-config
    always_run: true
    max_concurrency: 4
    decorate: true
    spec:
      containers:
      - image: gcr.io/k8s-prow/checkconfig:v20210409-985ef5e721
        args:
        - /app/prow/cmd/checkconfig/app.binary
        - -strict=true
        - -config-path=config/config.yaml
        - -job-config-path=config/jobs
        - -plugin-config=config/plugins.yaml
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
    trigger: "(?m)^/test config,?(\\s+|$)"
    rerun_command: "/test config"

  - name: pull-testing-build
    always_run: true
    context: pull-testing-build
    max_concurrency: 4
    agent: kubernetes
    decorate: true
    labels:
      preset-service-account: "true"
      preset-bazel-remote-cache-enabled: "true"
      preset-bazel-scratch-dir: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/bazelbuild:20210831-4cf7b0b-4.2.1
        args:
        - runner
        - bazel
        - build
        - //...
        resources:
          requests:
            cpu: 1
            memory: 2Gi
        securityContext:
          privileged: true
    trigger: "(?m)^/test build,?(\\s+|$)"
    rerun_command: "/test build"

  - name: pull-testing-verify
    always_run: true
    context: pull-testing-verify
    max_concurrency: 4
    agent: kubernetes
    decorate: true
    labels:
      preset-service-account: "true"
      preset-bazel-remote-cache-enabled: "true"
      preset-bazel-scratch-dir: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/bazelbuild:20210831-4cf7b0b-4.2.1
        args:
        - runner
        - bazel
        - test
        - //...
        resources:
          requests:
            cpu: 1
            memory: 2Gi
        securityContext:
          privileged: true
    trigger: "(?m)^/test verify,?(\\s+|$)"
    rerun_command: "/test verify"

  - name: pull-testing-check-testgrid-config
    # TODO: Temporarily optional and disabled by default so that we can iterate
    # on getting this test working before making it mandatory again.
    always_run: false
    optional: true
    run_if_changed: '^(config/jobs/.*\.yaml)|(config/testgrid/dashboards\.yaml)$'
    decorate: true
    branches:
    - master
    annotations:
      testgrid-create-test-group: "false"
    spec:
      containers:
      - image: gcr.io/k8s-prow/configurator:v20220501-de638098ae
        command:
        - configurator
        args:
        - --yaml=config/testgrid/dashboards.yaml
        - --default=config/testgrid/default.yaml
        - --prow-config=config/config.yaml
        - --prow-job-config=config/jobs
        - --prowjob-url-prefix=https://github.com/jetstack/testing/tree/master/config/jobs
        - --update-description
        - --validate-config-file
        - --oneshot
        resources:
          requests:
            memory: "1Gi"
