presubmits:

  cert-manager/testing:

  - name: pull-testing-config
    always_run: true
    max_concurrency: 4
    decorate: true
    spec:
      containers:
      - image: gcr.io/k8s-prow/checkconfig:v20240430-4359601d0
        command:
        - checkconfig
        args:
        - -strict=true
        - -config-path=config/config.yaml
        - -job-config-path=config/jobs
        - -plugin-config=config/plugins.yaml
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
    trigger: "(?m)^/test config,?(\\s+|$)"
    rerun_command: "/test config"

  - name: pull-testing-verify
    always_run: true
    max_concurrency: 4
    decorate: true
    spec:
      containers:
      - image: europe-west1-docker.pkg.dev/cert-manager-tests-trusted/cert-manager-infra-images/golang-dind:20240422-729441b-1.22
        args:
        - runner
        - make
        - verify
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
    trigger: "(?m)^/test verify,?(\\s+|$)"
    rerun_command: "/test verify"

  - name: pull-testing-test
    always_run: true
    max_concurrency: 4
    decorate: true
    spec:
      containers:
      - image: europe-west1-docker.pkg.dev/cert-manager-tests-trusted/cert-manager-infra-images/golang-dind:20240422-729441b-1.22
        args:
        - runner
        - make
        - test
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
    trigger: "(?m)^/test test,?(\\s+|$)"
    rerun_command: "/test test"

  - name: pull-testing-check-testgrid-config
    always_run: true
    max_concurrency: 4
    decorate: true
    spec:
      containers:
      - image: gcr.io/k8s-prow/configurator:v20240409-13cd3acf7e
        command:
        - configurator
        args:
        - --yaml=config/testgrid/dashboards.yaml
        - --default=config/testgrid/default.yaml
        - --prow-config=config/config.yaml
        - --prow-job-config=config/jobs
        - --prowjob-url-prefix=https://github.com/cert-manager/testing/tree/master/config/jobs
        - --update-description
        - --validate-config-file
        - --oneshot
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
    trigger: "(?m)^/test testgrid-config,?(\\s+|$)"
    rerun_command: "/test testgrid-config"
