presubmits:

  jetstack/testing:

  - name: pull-testing-config
    always_run: true
    context: pull-testing-config
    max_concurrency: 4
    agent: kubernetes
    decorate: true
    spec:
      containers:
      - image: gcr.io/k8s-prow/checkconfig:v20210409-985ef5e721
        args:
        - /app/prow/cmd/checkconfig/app.binary
        - -strict=true
        - -config-path=config/config.yaml
        - -job-config-path=config/jobs
        - -plugin-config=config/plugins.yaml
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
    trigger: "(?m)^/test config,?(\\s+|$)"
    rerun_command: "/test config"

  - name: pull-testing-build
    always_run: true
    context: pull-testing-build
    max_concurrency: 4
    agent: kubernetes
    decorate: true
    labels:
      preset-service-account: "true"
      preset-bazel-remote-cache-enabled: "true"
      preset-bazel-scratch-dir: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/bazelbuild:20210831-4cf7b0b-4.2.1
        args:
        - runner
        - bazel
        - build
        - //...
        resources:
          requests:
            cpu: 1
            memory: 2Gi
        securityContext:
          privileged: true
    trigger: "(?m)^/test build,?(\\s+|$)"
    rerun_command: "/test build"

  - name: pull-testing-verify
    always_run: true
    context: pull-testing-verify
    max_concurrency: 4
    agent: kubernetes
    decorate: true
    labels:
      preset-service-account: "true"
      preset-bazel-remote-cache-enabled: "true"
      preset-bazel-scratch-dir: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/bazelbuild:20210831-4cf7b0b-4.2.1
        args:
        - runner
        - bazel
        - test
        - //...
        resources:
          requests:
            cpu: 1
            memory: 2Gi
        securityContext:
          privileged: true
    trigger: "(?m)^/test verify,?(\\s+|$)"
    rerun_command: "/test verify"

  - name: pull-testing-check-testgrid-config
    decorate: true
    run_if_changed: '^(config/jobs/.*\.yaml)|(config/testgrid/dashboards\.yaml)$'
    branches:
    - master
    labels:
      preset-bazel-remote-cache-enabled: "true"
      preset-bazel-scratch-dir: "true"
    annotations:
      testgrid-create-test-group: "false"
    spec:
      containers:
      - image: gcr.io/k8s-prow/transfigure
        command:
        - /transfigure.sh
        args:
        - test # run in test mode
        - ./config/config.yaml # path to prow config.yaml
        - ./config/jobs/ # path to prow job definitions
        - ./config/testgrid/dashboards.yaml # path to testgrid config
        - jetstack # name of the directory containing our testgrid configs
