presubmits:
  cert-manager/istio-csr:

  - name: pull-cert-manager-istio-csr-verify
    decorate: true
    always_run: true
    max_concurrency: 8
    annotations:
      testgrid-create-test-group: 'false'
    branches:
    - ^main$
    spec:
      containers:
      - image: golang:1.19
        args:
        - make
        - verify
        resources:
          requests:
            cpu: 1
            memory: 1Gi

  - name: pull-cert-manager-istio-csr-ca-rotation
    context: pull-cert-manager-istio-csr-ca-rotation
    decorate: true
    always_run: true
    branches:
    - ^main$
    labels:
      preset-service-account: "true"
      preset-dind-enabled: "true"
      preset-bazel-scratch-dir: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/golang-dind:20230323-f4c9aec-1.19.7
        args:
        - runner
        - make
        - carotation
        resources:
          requests:
            cpu: 3500m
            memory: 4Gi
        securityContext:
          privileged: true
          capabilities:
            add: ["SYS_ADMIN"]
        volumeMounts:
        - mountPath: /lib/modules
          name: modules
          readOnly: true
        - mountPath: /sys/fs/cgroup
          name: cgroup
      volumes:
      - name: modules
        hostPath:
          path: /lib/modules
          type: Directory
      - name: cgroup
        hostPath:
          path: /sys/fs/cgroup
          type: Directory
      dnsConfig:
        options:
        - name: ndots
          value: "1"

  # kind based istio-csr e2e job for Kubernetes v1.26, istio v1.14
  - name: pull-cert-manager-istio-csr-k8s-v1-26-istio-v1-14
    context: pull-cert-manager-istio-csr-k8s-v1-26-istio-v1-14
    always_run: true
    optional: false
    max_concurrency: 8
    decorate: true
    branches:
    - ^main$
    labels:
      preset-service-account: "true"
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/golang-dind:20230323-f4c9aec-1.19.7
        args:
        - runner
        - make
        - e2e
        resources:
          requests:
            cpu: 3500m
            memory: 12Gi
        env:
        - name: K8S_VERSION
          value: "1.26.1"
        - name: ISTIO_VERSION
          value: "1.14.6"
        securityContext:
          privileged: true
          capabilities:
            add: ["SYS_ADMIN"]
        volumeMounts:
        - mountPath: /lib/modules
          name: modules
          readOnly: true
        - mountPath: /sys/fs/cgroup
          name: cgroup
      volumes:
      - name: modules
        hostPath:
          path: /lib/modules
          type: Directory
      - name: cgroup
        hostPath:
          path: /sys/fs/cgroup
          type: Directory
      dnsConfig:
        options:
          - name: ndots
            value: "1"

  # kind based istio-csr e2e job for Kubernetes v1.26, istio v1.15
  - name: pull-cert-manager-istio-csr-k8s-v1-26-istio-v1-15
    context: pull-cert-manager-istio-csr-k8s-v1-26-istio-v1-15
    always_run: true
    optional: false
    max_concurrency: 8
    decorate: true
    branches:
    - ^main$
    labels:
      preset-service-account: "true"
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/golang-dind:20230323-f4c9aec-1.19.7
        args:
        - runner
        - make
        - e2e
        resources:
          requests:
            cpu: 3500m
            memory: 12Gi
        env:
        - name: K8S_VERSION
          value: "1.26.1"
        - name: ISTIO_VERSION
          value: "1.15.5"
        securityContext:
          privileged: true
          capabilities:
            add: ["SYS_ADMIN"]
        volumeMounts:
        - mountPath: /lib/modules
          name: modules
          readOnly: true
        - mountPath: /sys/fs/cgroup
          name: cgroup
      volumes:
      - name: modules
        hostPath:
          path: /lib/modules
          type: Directory
      - name: cgroup
        hostPath:
          path: /sys/fs/cgroup
          type: Directory
      dnsConfig:
        options:
          - name: ndots
            value: "1"

  # kind based istio-csr e2e job for Kubernetes v1.26, istio v1.16
  - name: pull-cert-manager-istio-csr-k8s-v1-26-istio-v1-16
    context: pull-cert-manager-istio-csr-k8s-v1-26-istio-v1-16
    always_run: true
    optional: false
    max_concurrency: 8
    decorate: true
    branches:
    - ^main$
    labels:
      preset-service-account: "true"
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/golang-dind:20230323-f4c9aec-1.19.7
        args:
        - runner
        - make
        - e2e
        resources:
          requests:
            cpu: 3500m
            memory: 12Gi
        env:
        - name: K8S_VERSION
          value: "1.26.1"
        - name: ISTIO_VERSION
          value: "1.16.2"
        securityContext:
          privileged: true
          capabilities:
            add: ["SYS_ADMIN"]
        volumeMounts:
        - mountPath: /lib/modules
          name: modules
          readOnly: true
        - mountPath: /sys/fs/cgroup
          name: cgroup
      volumes:
      - name: modules
        hostPath:
          path: /lib/modules
          type: Directory
      - name: cgroup
        hostPath:
          path: /sys/fs/cgroup
          type: Directory
      dnsConfig:
        options:
          - name: ndots
            value: "1"
