apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: sinker
  labels:
    app: sinker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sinker
  template:
    metadata:
      labels:
        app: sinker
    spec:
      serviceAccountName: sinker
      containers:
      - name: sinker
        args:
        - --config-path=/etc/config/config.yaml
        - --job-config-path=/etc/job-config
        - --dry-run=false
        image: gcr.io/k8s-prow/sinker:v20240503-c5e374dc7
        env:
        # Use KUBECONFIG envvar rather than --kubeconfig flag in order to provide multiple configs to merge.
        - name: KUBECONFIG
          value: "/etc/kubeconfig-default/config:/etc/kubeconfig-prow-trusted/config"
        ports:
        - name: metrics
          containerPort: 9090
        volumeMounts:
        - mountPath: /etc/kubeconfig-prow-trusted
          name: kubeconfig-prow-trusted
          readOnly: true
        - mountPath: /etc/kubeconfig-default
          name: kubeconfig-prow-untrusted
          readOnly: true
        - name: config
          mountPath: /etc/config
          readOnly: true
        - name: job-config
          mountPath: /etc/job-config
          readOnly: true
      volumes:
      - name: kubeconfig-prow-trusted
        secret:
          defaultMode: 420
          secretName: kubeconfig-prow-trusted
      - name: kubeconfig-prow-untrusted
        secret:
          defaultMode: 420
          secretName: kubeconfig-prow-untrusted
      - name: config
        configMap:
          name: config
      - name: job-config
        configMap:
          name: job-config
