presubmits:
  cert-manager/csi-driver-spiffe:

  - name: pull-cert-manager-csi-driver-spiffe-verify
    context: pull-cert-manager-csi-driver-spiffe-verify
    agent: kubernetes
    decorate: true
    always_run: true
    max_concurrency: 8
    annotations:
      testgrid-create-test-group: 'false'
    spec:
      containers:
      - image: golang:1.17
        args:
        - make
        - verify
        resources:
          requests:
            cpu: 1
            memory: 1Gi

  - name: pull-cert-manager-csi-driver-spiffe-e2e
    context: pull-cert-manager-csi-driver-spiffe-e2e
    always_run: true
    optional: false
    max_concurrency: 8
    agent: kubernetes
    decorate: true
    labels:
      preset-service-account: "true"
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/golang-dind:20210907-aa51283-1.17
        args:
        - runner
        - make
        - e2e
        resources:
          requests:
            cpu: 3500m
            memory: 12Gi
        securityContext:
          privileged: true
          capabilities:
            add: ["SYS_ADMIN"]
        volumeMounts:
        - mountPath: /lib/modules
          name: modules
          readOnly: true
        - mountPath: /sys/fs/cgroup
          name: cgroup
      volumes:
      - name: modules
        hostPath:
          path: /lib/modules
          type: Directory
      - name: cgroup
        hostPath:
          path: /sys/fs/cgroup
          type: Directory
      dnsConfig:
        options:
          - name: ndots
            value: "1"
