plank:
  job_url_template: 'https://prow.build-infra.jetstack.net/view/jetstack-logs/{{if eq .Spec.Type "presubmit"}}pr-logs/pull{{else if eq .Spec.Type "batch"}}pr-logs/pull{{else}}logs{{end}}{{if .Spec.Refs}}{{if ne .Spec.Refs.Org ""}}/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}{{end}}{{end}}{{if eq .Spec.Type "presubmit"}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else if eq .Spec.Type "batch"}}/batch{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}/'
  report_templates: # These templates are used when creating a GH report comment for test failures.
    '*': '[Full PR test history](https://prow.build-infra.jetstack.net/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}). [Your PR dashboard](https://prow.build-infra.jetstack.net/pr?query=is%3Apr%20state%3Aopen%20author%3A{{with index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}). Please help us cut down on flakes by [linking to](https://git.k8s.io/community/contributors/devel/sig-testing/flaky-tests.md#github-issues-for-known-flakes) an [open issue](https://github.com/{{.Spec.Refs.Org}}/{{.Spec.Refs.Repo}}/issues?q=is:issue+is:open) when you hit one in your PR.'
  job_url_prefix_config:
    '*': https://prow.build-infra.jetstack.net/view/
  pod_pending_timeout: 120m
  pod_unscheduled_timeout: 60m
  pod_running_timeout: 48h0m0s
  default_decoration_configs:
    '*':
      timeout: 7200000000000 # 2h
      grace_period: 15000000000 # 15s
      utility_images:
        clonerefs: "gcr.io/k8s-prow/clonerefs:v20231113-5e84733188"
        initupload: "gcr.io/k8s-prow/initupload:v20231113-5e84733188"
        entrypoint: "gcr.io/k8s-prow/entrypoint:v20231113-5e84733188"
        sidecar: "gcr.io/k8s-prow/sidecar:v20231113-5e84733188"
      gcs_configuration:
        bucket: jetstack-logs
        path_strategy: "legacy"
        # Leave this as k/k so that all logs use org_repo in the path
        default_org: "kubernetes"
        default_repo: "kubernetes"
      gcs_credentials_secret: "service-account"
      resources:
        clonerefs:
          requests:
            cpu: 100m
        initupload:
          requests:
            cpu: 100m
        place_entrypoint:
          requests:
            cpu: 100m
        sidecar:
          requests:
            cpu: 100m

# branch-protection is well documented in the source code for prow:
# https://github.com/kubernetes/test-infra/blob/bc7ab92094413c3ba659851b5ec19f4308cb3a70/prow/config/branch_protection.go
branch-protection:
  allow_disabled_policies: true
  orgs:
    cert-manager:
      protect: true
      # Prevent administrators from accidentally pushing directly to protected branches.
      # Causes the "Include Administrators" checkbox to be ticked in the GitHub branch protection UI.
      # See https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches#do-not-allow-bypassing-the-above-settings
      enforce_admins: true
      required_status_checks:
        contexts:
        - dco
      include:
        - main
        - master
        - release-.*
      repos:
        cert-manager:
          branches:
            # cert-manager/cert-manager defines required_status_checks on a per
            # branch basis, since context names differ. Post release, the
            # release branches can be updated to allow for cherry picks to the
            # latest release.
            release-1.12:
              required_status_checks:
                contexts:
                - pull-cert-manager-release-1.12-chart
                - pull-cert-manager-release-1.12-make-test
                - pull-cert-manager-release-1.12-e2e-v1-27
                - pull-cert-manager-release-1.12-e2e-v1-27-upgrade
            release-1.13:
              required_status_checks:
                contexts:
                - pull-cert-manager-release-1.13-chart
                - pull-cert-manager-release-1.13-make-test
                - pull-cert-manager-release-1.13-e2e-v1-28
                - pull-cert-manager-release-1.13-e2e-v1-28-upgrade
            master:
              required_status_checks:
                contexts:
                - pull-cert-manager-master-chart
                - pull-cert-manager-master-make-test
                - pull-cert-manager-master-e2e-v1-28
                - pull-cert-manager-master-e2e-v1-28-upgrade
        website:
          required_status_checks:
            contexts:
            - netlify/cert-manager-website/deploy-preview # See https://github.com/cert-manager/infrastructure#netlify
            - pull-cert-manager-website-verify
        webhook-example:
          required_status_checks:
            contexts:
            - pull-cert-manager-webhook-example-verify
        trust-manager:
          required_status_checks:
            contexts:
            - pull-trust-manager-verify
            - pull-trust-manager-smoke
        issuer-lib:
          required_status_checks:
            contexts:
            - lint
            - test-e2e
            - test-unit
        csi-lib:
          required_status_checks:
            contexts:
            - pull-cert-manager-csi-lib-verify
        aws-privateca-issuer:
          protect: false
        boilersuite:
          required_status_checks:
            contexts:
            - pull-cert-manager-boilersuite-verify
sinker:
  resync_period: 1h
  max_prowjob_age: 48h
  max_pod_age: 1h

deck:
  spyglass:
    size_limit: 100000000 # 100MB
    gcs_browser_prefix: https://console.cloud.google.com/storage/browser/
    testgrid_config: gs://jetstack-testgrid/config
    testgrid_root: https://testgrid.k8s.io/
    lenses:
    - lens:
        name: metadata
      required_files:
      - ^(?:started|finished)\.json$
      optional_files:
      - ^(?:podinfo|prowjob)\.json$
    - lens:
        name: buildlog
      required_files:
        - ^.*build-log\.txt$
    - lens:
        name: junit
      required_files:
        - ^artifacts(/.*/|/)junit.*\.xml$ # https://regex101.com/r/vCSegS/1
    - lens:
        name: coverage
      required_files:
        - ^artifacts/filtered\.cov$
      optional_files:
        - ^artifacts/filtered\.html$
    - lens:
        name: podinfo
      required_files:
        - ^podinfo\.json$
    - lens:
        name: links
      required_files:
        - artifacts/.*\.link\.txt
  tide_update_period: 1s
  rerun_auth_configs:
    '*':
      github_team_ids:
      - 2805308 # cert-manager milestone-maintainers

prowjob_namespace: default
pod_namespace: test-pods
log_level: info

presets:
- labels:
    preset-service-account: "true"
  env:
  - name: GOOGLE_APPLICATION_CREDENTIALS
    value: /etc/service-account/service-account.json
  volumes:
  - name: service
    secret:
      secretName: service-account
  volumeMounts:
  - name: service
    mountPath: /etc/service-account
    readOnly: true

# docker-in-docker (with images/bootstrap) preset
# NOTE: using this also requires using that image,
# ensuring you run your test under either the ENTRYPOINT or:
# /usr/local/bin/runner my-test-command --foo --bar
# AND setting the following on your PodSpec:
# securityContext:
#   privileged: true
- labels:
    preset-dind-enabled: "true"
  env:
  - name: DOCKER_IN_DOCKER_ENABLED
    value: "true"
  - name: DOCKER_CLI_EXPERIMENTAL
    value: "enabled"
  volumes:
  - name: docker-graph
    emptyDir: {}
  volumeMounts:
  - name: docker-graph
    mountPath: /docker-graph

tide:
  pr_status_base_urls:
    '*': https://prow.build-infra.jetstack.net/pr
  squash_label: tide/squash
  queries:
  # Default tide config for all repos in the cert-manager org
  - orgs:
    - cert-manager
    labels:
    - lgtm
    - approved
    - "dco-signoff: yes"
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/invalid-owners-file
    - do-not-merge/work-in-progress
    - needs-rebase

  # cert-manager/cert-manager is the only repo in the cert-manager org which
  # currently uses the release-note plugin so we duplicate the organization
  # query parameters here and add the do-not-merge/release-note-label-needed to
  # the list of labels which block a PR from being merged.
  # TODO: Find out whether the org-wide defaults are added to the repo specific
  # query fields here, in which case the fields can be de-duplicated.
  - repos:
    - cert-manager/cert-manager
    labels:
    - lgtm
    - approved
    - "dco-signoff: yes"
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/invalid-owners-file
    - do-not-merge/work-in-progress
    - needs-rebase
    - needs-kind
    - do-not-merge/release-note-label-needed
