presubmits:
  cert-manager/release:
  - name: pull-cert-manager-release-verify
    always_run: true
    context: pull-cert-manager-release-verify
    max_concurrency: 8
    agent: kubernetes
    decorate: true
    annotations:
      testgrid-create-test-group: 'false'
    labels:
      preset-service-account: "true"
      preset-bazel-remote-cache-enabled: "true"
      preset-bazel-scratch-dir: "true"
    spec:
      containers:
      - image: eu.gcr.io/jetstack-build-infra-images/golang-dind:20210331-a8721c1-1.16
        args:
        - runner
        - ./test/presubmit.sh
        resources:
          requests:
            cpu: 3500m
            memory: 4Gi
      dnsConfig:
        options:
          - name: ndots
            value: "1"
