presets:
- labels:
    preset-cloudflare-credentials: "true"
  env:
  - name: CLOUDFLARE_E2E_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: api-token
  - name: CLOUDFLARE_E2E_EMAIL
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: email
  - name: CLOUDFLARE_E2E_DOMAIN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: domain

- labels:
    preset-venafi-tpp-credentials: "true"
  env:
  - name: VENAFI_TPP_URL
    valueFrom:
      secretKeyRef:
        name: venafi-tpp
        key: url
  - name: VENAFI_TPP_ZONE
    valueFrom:
      secretKeyRef:
        name: venafi-tpp
        key: zone
  - name: VENAFI_TPP_USERNAME
    valueFrom:
      secretKeyRef:
        name: venafi-tpp
        key: username
  - name: VENAFI_TPP_PASSWORD
    valueFrom:
      secretKeyRef:
        name: venafi-tpp
        key: password

- labels:
    preset-venafi-cloud-credentials: "true"
  env:
  - name: VENAFI_CLOUD_ZONE
    valueFrom:
      secretKeyRef:
        name: venafi-cloud
        key: zone
  - name: VENAFI_CLOUD_APITOKEN
    valueFrom:
      secretKeyRef:
        name: venafi-cloud
        key: apitoken

- labels:
    preset-retry-flakey-tests: "true"
  env:
  - name: FLAKE_ATTEMPTS
    value: "2"

- labels:
    preset-aws-credentials: "true"
  env:
  - name: AWS_ACCESS_KEY_ID
    valueFrom:
      secretKeyRef:
        name: aws
        key: accesskey
  - name: AWS_SECRET_ACCESS_KEY
    valueFrom:
      secretKeyRef:
        name: aws
        key: secretkey
  - name: AWS_DEFAULT_REGION
    valueFrom:
      secretKeyRef:
        name: aws
        key: region

- labels:
    preset-disable-all-feature-gates: "true"
  env:
  - name: FEATURE_GATES
    value: "ExperimentalCertificateSigningRequestControllers=false,ExperimentalGatewayAPISupport=false"

- labels:
    preset-enable-all-feature-gates: "true"
  env:
  - name: FEATURE_GATES
    value: "ExperimentalCertificateSigningRequestControllers=true,ExperimentalGatewayAPISupport=true"

# Specific cert-manager e2e test suites can be skipped for all e2e tests here by
# setting GINKGO_SKIP value i.e 'Venafi Cloud|Gateway' will skip all Venafi
# Cloud and Gateway tests. Currently we skip all Venafi (VaaS and TPP) tests
# because they rely on external services being up and we don't want PRs and
# regular periodics to fail due to external service failures.
- labels:
    preset-ginkgo-skip-default: "true"
  env:
  - name: GINKGO_SKIP
    value: "Venafi"

- labels:
    preset-ginkgo-focus-http01-ingress: "true"
  env:
  - name: GINKGO_SKIP
    value: "Gateway"
  - name: GINKGO_FOCUS
    value: "Public ACME Server HTTP01 Issuer"

- labels:
    preset-ginkgo-focus-venafi: "true"
  env:
  - name: GINKGO_FOCUS
    value: 'Venafi'

- labels:
    preset-ginkgo-focus-venafi-tpp: "true"
  env:
  - name: GINKGO_FOCUS
    value: 'Venafi TPP'

- labels:
    preset-ginkgo-focus-venafi-cloud: "true"
  env:
  - name: GINKGO_FOCUS
    value: 'Venafi Cloud'
