---
gitHubLogin: "cert-manager-bot"
gitHubToken: "/etc/github/token"
gitName: "cert-manager-bot"
gitEmail: "cert-manager-bot@users.noreply.github.com"
skipPullRequest: false
gitHubOrg: "cert-manager"
gitHubRepo: "testing"
remoteName: "testing"
headBranchName: "autobump"
upstreamURLBase: "https://raw.githubusercontent.com/cert-manager/testing/master"
includedConfigPaths:
  - "config/jobs"
  - "images"
  - "prow/cluster"
extraFiles:
  - "config/config.yaml"
targetVersion: "latest"
prefixes:
  - name: "k8s-prow images"
    prefix: "gcr.io/k8s-prow/"
    repo: "https://github.com/kubernetes/test-infra"
    summarise: false
    consistentImages: false
  - name: "cert-manager-infra-images images"
    prefix: "europe-west1-docker.pkg.dev/cert-manager-tests-trusted/cert-manager-infra-images/"
    repo: "https://github.com/cert-manager/testing"
    summarise: false
    consistentImages: false
  - name: "quay.io/jetstack/base-static image"
    prefix: "quay.io/jetstack/base-static"
    repo: "https://github.com/cert-manager/testing"
    summarise: false
    consistentImages: false
